

/*====================
TABLE OF CONTENTS:
======================

1.0 General
2.0 Global
3.0 Media Queries
4.0
5.0

======================
COLOUR REFERENCES
======================

Dark Gray:	#888
Bg Gray:    #eee


/* ==== GENERAL ==== */

html
{
    background-color: #4B7092;
}

body
{
    font-family: 'Lato', 'Dosis', Helvetica, sans-serif;
    font-size: 16px;
    background-color: inherit;
}

/* ==== GLOBAL ==== */

h1,
h2,
h3,
h4,
h5,
h6
{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-weight: bold;
}

h1
{
    font-size: 3em;
}

h1,
h2
{
    margin: 0 0 40px;
}

h3
{
    margin: 20px 0;
}

h4
{
    font-size: 18px;
}

a
{
    color: #000;
}

p
{
    font-weight: 400;
}

.dropdown-menu
{
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.dropdown-menu > li > a
{
    color: #fff;
}

.navbar-toggle
{
    border: none;
}

.navbar-toggle .icon-bar
{
    background-color: #000;
}

.navbar-collapse
{
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 0px;
    box-shadow: 0px;
    -webkit-overflow-scrolling: touch;
}

#home section
{
}

#home-content section
{
    padding: 20px;
}

.copyright
{
    color: white;
    text-align: center;
    font-size: .8em;
    padding: 15px 0 0;
}

.logo p
{
    color: #ED753D;
    font-size: 2em;
    line-height: 1em;
    font-weight: 500;
    letter-spacing: .02em;
}

@media (max-width:1199px)
{
    .logo p
    {
        font-size: 1.75em;
    }
    .logo-wrapper
    {
        padding-right: 0;
    }
}

.logo span
{
    text-transform: uppercase;
    letter-spacing: .5em;
    color: #BFD1DC;
}

.navbar-wrapper
{
    background-color: #0A267A;
}

.home-wrapper
{
    padding: 0;
    background-color: white;
}

.navbar-nav a
{
    font-family: lato;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
}

.navbar-nav .open .dropdown-menu
{
    color: #ffffff;
    background-color: #0A267A;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus
{
    color: #424652;
    background-color: #ED753D;
}

.nav > li > a:focus,
.nav > li > a:hover
{
    color: #424652;
    background-color: #ED753D;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus
{
    color: #424652;
    background-color: #ED753D;
    border-color: #337ab7;
}

.current-menu-item
{
    background-color: #ED753D;
}

#header-contact
{
    font-family: lato, dosis, sans-serif;
    text-transform: uppercase;
    color: #BFD1DC;
    text-align: right;
}

#header-contact h3
{
    font-size: 1.1em;
    letter-spacing: .1em;
    margin-bottom: 0px;
}

#header-contact span,
#business-hours
{
    font-size: .7em;
}

#business-hours span
{
    color: #ED753D;
    text-transform: capitalize;
    font-size: 1em;
}

.logo
{
    font-size: 1.1em;
    padding-top: 1.8em;
    float: left;
}

/* ==== MEDIA QUERIES ==== */

@media (max-width:767px)
{
    #header-contact
    {
        display: none;
    }
    .logo
    {
        margin-bottom: 1em;
    }
}

@media (max-width: 529px)
{
    .logo p
    {
        font-size: 1.5em;
    }
}

@media (max-width:767px)
{
    .logo span
    {
        font-size: .8em;
    }
}

@media (max-width: 407px)
{
    .logo p
    {
        font-size: 1.2em;
    }
    .logo span
    {
        font-size: .65em;
    }
}

@media (max-width:991px)
{
    #header-contact h3
    {
        font-size: .9em;
        letter-spacing: 0.05em;
        margin-bottom: 0px;
    }
}

footer
{
    background-color: #092579;
}

@media (max-width:767px)
{
    .footer-nav
    {
        display: none;
    }
}

/* Personalized Care section -- Circles -- */

.specials-wrapper
{
    position: relative;
}

.personal-care
{
    position: relative;
    z-index: 5;
    width: 256px;
    height: 256px;
    margin: -35px 0 0 0;
    border: 17px solid rgb(229, 243, 255);
    border-radius: 137px;
    background-color: rgb(255, 255, 255);
}

.personal-care h5
{
    font-size: 1em;
    color: rgb(237, 117, 61);
    margin-right: 0;
    margin-top: 60px;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}

.personal-care p
{
    font-size: .85em;
    color: rgb(66, 70, 82);
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
}

.patients-first
{
    position: relative;
    z-index: 7;
    width: 158px;
    height: 158px;
    margin: -50px 0 0 40%;
    border: 5px solid rgb(237, 117, 61);
    border-radius: 100px;
    background-color: rgba(9, 37, 121, 0.7);
}

.patients-first p
{
    margin: 50px 0 0;
    font-size: 1em;
    font-weight: 700;
    color: rgb(229, 243, 255);
    text-align: center;
}

.no-col-padding
{
    padding-left: 0;
    padding-right: 0;
}

#about-doctor
{
    background: rgb(229, 243, 255);
    padding: 10px 0 40px 10px;
}

#personalized-care
{
    margin-right: 40px;
}

#gedestat-thumbnail
{
    display: block;
    width: 119px;
    height: 149px;
    margin: 0 25px 6px 0;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

#about-doctor h3
{
    font-family: dosis, lato, san-serif;
    color: #092579;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 500;
}

#contact-us
{
}

#contact-us h3
{
    text-transform: uppercase;
    color: white;
    font-family: dosis, lato, san-serif;
    font-weight: 500;
    font-size: 1.8em;
}

#contact-us form
{
    padding: 0 20px;
}

#contact-us form .form-control
{
    border-radius: 0;
}

#contact-us input[type="text"],
#contact-us input[type="email"]
{
    height: 40px;
}

#contact-us textarea
{
    min-height: 128px;
    max-width: 320px;
    margin-bottom: 15px;
}

#contact-us button
{
    display: block;
    border-radius: 0;
    width: 128px;
    color: #092579;
    background-color: #E5F3FF;
    margin: 0 auto;
}

#contact-wrapper
{
    background-color: #092579;
}

#set-appointment
{
    height: 220px;
    background: #092579;
}

.app-clock-container
{
    width: 100px;
    height: 100px;
    margin: 24px auto;
    border: 5px solid rgb(237, 117, 61);
    border-radius: 100px;
}

.set-app-clock
{
    width: 33px;
    height: 33px;
    margin: 19px 0 0 20%;
    border-right: 3px solid rgb(237, 117, 61);
    border-bottom: 3px solid rgb(237, 117, 61);
    overflow: hidden;
}

#set-appointment h3
{
    font-family: dosis, lato, san-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    color: #ED753D;
    letter-spacing: .2em;
    font-weight: 500;
}

#oral-price h3
{
    color: #ED753D;
    font-family: dosis, lato, san-serif;
    font-size: 8.5em;
    font-weight: 500;
    margin: 20px 0 0;
}

#oral-exam h3
{
    color: #ED753D;
    font-family: dosis, lato, san-serif;
    font-size: 3em;
    font-weight: 500;
    margin: 5px 0 0;
}

#oral-exam p
{
    color: #0A267A;
    letter-spacing: .15em;
    padding-left: 20px;
}

#oral-exam p:first-of-type
{
    font-size: 2em;
    font-family: dosis, lato, san-serif;
    letter-spacing: .2em;
    margin-top: -45px;
    padding-left: 0px;
}

#oral-exam p span
{
    font-size: 2.5em;
    letter-spacing: 0;
    font-weight: 500;
}

@media (max-width:1199px)
{
    #oral-price h3
    {
        font-size: 8em;
        margin-top: 20px;
    }
    #oral-exam h3
    {
        font-size: 2em;
        font-weight: 500;
        margin: 20px 0 30px;
    }
    #oral-exam p:first-of-type
    {
        font-size: 2em;
        letter-spacing: 0em;
    }
    #oral-exam p span
    {
        font-size: 2em;
    }
}

@media (max-width:991px)
{
    #set-appointment
    {
        padding-top: 15px;
    }
    #oral-exam
    {
        text-align: center;
        padding-bottom: 20px;
    }
    #oral-exam h3
    {
        font-size: 2em;
        font-weight: 500;
        margin: 10px 0 10px;
    }
    #oral-exam p:first-of-type
    {
        font-size: 2em;
        letter-spacing: 0em;
        margin: 0px;
    }
    #oral-exam p span
    {
        font-size: 1.5em;
    }
}

@media (max-width:320px)
{
    #oral-exam p span
    {
        line-height: 0;
    }
}

.navbar
{
    margin-bottom: 0;
}

#home-content
{
    background-color: #E5F3FF;
}

@media (max-width:991px)
{
    .personal-care
    {
        margin: 0px;
    }
    #contact-us textarea
    {
        max-width: 991px;
    }
    #oral-price h3
    {
        margin-top: 0;
    }
}

#patient-special
{
    background-color: #ffffff;
}

.well
{
    background-color: #a94545;
    min-height: 20px;
    padding: 4px 4px 4px 20px;
    margin-bottom: 0px;
    border: 1px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #ffffff;
}

.jumbotron
{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: transparent;
    border-radius: 0px;
}

.container .jumbotron,
.container-fluid .jumbotron
{
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 768px)
{
    .jumbotron
    {
        padding-top: 48px;
        padding-bottom: 48px;
        background-color: #f1f1f1;
    }
    .container .jumbotron,
    .container-fluid .jumbotron
    {
        padding-left: 60px;
        padding-right: 60px;
    }
}

#home-cta p .btn
{
    margin-top: 20px;
    margin-left: 35px;
}

#home-cta ul li
{
    line-height: 32px;
}

