

/*====================
TABLE OF CONTENTS:
======================

1.0 General
2.0 WordPress Core
3.0 Global
4.0 Media Queries
5.0

======================
COLOUR REFERENCES
======================

Dark Gray:	#888
Bg Gray:    #eee


/* ==== GENERAL ==== */

html
{
    background-color: #4B7092;
}

body
{
    font-family: 'Lato', 'Dosis', Helvetica, sans-serif;
    font-size: 16px;
    background-color: inherit;
}

/* ==== GLOBAL ==== */

h1,
h2,
h3,
h4,
h5,
h6
{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-weight: bold;
}

h1
{
    font-size: 3em;
}

h1,
h2
{
    margin: 0 0 40px;
}

h3
{
    margin: 20px 0;
}

h4
{
    font-size: 18px;
}

a
{
    color: #000;
}

p
{
    font-weight: 400;
}

/* ==== WordPress Core ==== */

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

::selection
{
    background: #F0B197;
}

::-moz-selection
{
    background: #F0B197;
}

.dropdown-menu
{
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.dropdown-menu > li > a
{
    color: #fff;
}

.navbar-toggle
{
    border: none;
}

.navbar-toggle .icon-bar
{
    background-color: #000;
}

.navbar-collapse
{
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 0px;
    box-shadow: 0px;
    -webkit-overflow-scrolling: touch;
}

.copyright
{
    color: white;
    text-align: center;
    font-size: .8em;
    padding: 15px 0 0;
}

.logo a
{
    color: #ED753D;
    font-size: 2em;
    line-height: 1em;
    font-weight: 500;
    letter-spacing: .02em;
}

@media (max-width:1199px)
{
    .logo a
    {
        font-size: 1.75em;
    }
    .logo-wrapper
    {
        padding-right: 0;
    }
}

.logo span
{
    text-transform: uppercase;
    letter-spacing: .5em;
    color: #BFD1DC;
}

.navbar-wrapper
{
    background-color: #0A267A;
}

.home-wrapper
{
    padding: 0;
    background-color: white;
}

.navbar-nav a
{
    font-family: lato;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
}

.navbar-nav .open .dropdown-menu
{
    color: #ffffff;
    background-color: #0A267A;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus
{
    color: #424652;
    background-color: #ED753D;
}

.nav > li > a:focus,
.nav > li > a:hover
{
    color: #424652;
    background-color: #ED753D;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus
{
    color: #424652;
    background-color: #ED753D;
    border-color: #337ab7;
}

.current-menu-item
{
    background-color: #ED753D;
}

#header-contact
{
    font-family: lato, dosis, sans-serif;
    text-transform: uppercase;
    color: #BFD1DC;
    text-align: right;
}

#header-contact h3
{
    font-size: 1.1em;
    letter-spacing: .1em;
    margin-bottom: 0px;
}

#header-contact span,
#business-hours
{
    font-size: .7em;
}

#business-hours span
{
    color: #ED753D;
    text-transform: capitalize;
    font-size: 1em;
}

.logo
{
    font-size: 1.1em;
    padding-top: 1.8em;
    float: left;
}

/* ==== MEDIA QUERIES ==== */

@media (max-width:767px)
{
    #header-contact
    {
        display: none;
    }
    .logo a
    {
        padding-right: 20px;
    }
}

@media (max-width: 529px)
{
    .logo a
    {
        font-size: 1.5em;
    }
}

@media (max-width:767px)
{
    .logo span
    {
        font-size: .8em;
        white-space: nowrap;
    }
}

@media (max-width: 407px)
{
    .logo a
    {
        font-size: 1.2em;
    }
    .logo span
    {
        font-size: .65em;
    }
}

@media (max-width:991px)
{
    #header-contact h3
    {
        font-size: .9em;
        letter-spacing: 0.05em;
        margin-bottom: 0px;
    }
}

footer
{
    background-color: #092579;
}

@media (max-width:767px)
{
    .footer-nav
    {
        display: none;
    }
}

/* Personalized Care section -- Circles -- */

.specials-wrapper
{
    position: relative;
}

.personal-care
{
    position: relative;
    z-index: 5;
    width: 256px;
    height: 256px;
    margin: -35px 0 0 0;
    border: 17px solid rgb(229, 243, 255);
    border-radius: 137px;
    background-color: rgb(255, 255, 255);
}

.personal-care h5
{
    font-size: 1em;
    color: rgb(237, 117, 61);
    margin-right: 0;
    margin-top: 60px;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}

.personal-care p
{
    font-size: .85em;
    color: rgb(66, 70, 82);
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
}

.patients-first
{
    position: relative;
    z-index: 7;
    width: 158px;
    height: 158px;
    margin: -50px 0 0 40%;
    border: 5px solid rgb(237, 117, 61);
    border-radius: 100px;
    background-color: rgba(9, 37, 121, 0.7);
}

.patients-first p
{
    margin: 50px 0 0;
    font-size: 1em;
    font-weight: 700;
    color: rgb(229, 243, 255);
    text-align: center;
}

.no-col-padding
{
    padding-left: 0;
    padding-right: 0;
}

#about-doctor
{
    background: rgb(229, 243, 255);
    padding: 10px 0 40px 10px;
}

#personalized-care
{
    margin-right: 40px;
}

#gedestat-thumbnail
{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 25px 6px 0;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

#about-doctor h3
{
    font-family: dosis, lato, san-serif;
    color: #092579;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 500;
}


#contact-us h3
{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: dosis, lato, san-serif;
    font-weight: 500;
    font-size: 1.8em;
}

#contact-us form
{
    padding: 0 20px;
}

#contact-us form .form-control
{
    border-radius: 0;
}

#contact-us input[type="text"],
#contact-us input[type="email"]
{
    height: 40px;
}

#contact-us textarea
{
    min-height: 128px;
    max-width: 320px;
    margin-bottom: 15px;
}

#contact-us form input[type="submit"]
{
    display: block;
    border-radius: 0;
    width: 128px;
    color: #092579;
    background-color: #E5F3FF;
    margin: 0 auto;
}

#contact-us form input[type="submit"]:hover {
    background-color: rgb(237, 117, 61);
}

#contact-wrapper
{
    background-color: #092579;
}

#set-appointment
{
    height: 220px;
    background: #092579;
}

.app-clock-container
{
    width: 100px;
    height: 100px;
    margin: 24px auto;
    border: 5px solid rgb(237, 117, 61);
    border-radius: 100px;
}

.set-app-clock
{
    width: 33px;
    height: 33px;
    margin: 19px 0 0 20%;
    border-right: 3px solid rgb(237, 117, 61);
    border-bottom: 3px solid rgb(237, 117, 61);
    overflow: hidden;
}

#set-appointment h3
{
    font-family: dosis, lato, san-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    color: #ED753D;
    letter-spacing: .2em;
    font-weight: 500;
}

#oral-price h3
{
    color: #ED753D;
    font-family: dosis, lato, san-serif;
    font-size: 8.5em;
    font-weight: 500;
    margin: 20px 0 0;
}

#oral-exam h3
{
    color: #ED753D;
    font-family: dosis, lato, san-serif;
    font-size: 3em;
    font-weight: 500;
    margin: 5px 0 0;
}

#oral-exam p
{
    color: #0A267A;
    letter-spacing: .15em;
    padding-left: 20px;
}

#oral-exam p:first-of-type
{
    font-size: 2em;
    font-family: dosis, lato, san-serif;
    letter-spacing: .2em;
    margin-top: -45px;
    padding-left: 0px;
}

#oral-exam p span
{
    font-size: 2.5em;
    letter-spacing: 0;
    font-weight: 500;
}

@media (max-width:1199px)
{
    #oral-price h3
    {
        font-size: 8em;
        margin-top: 20px;
    }
    #oral-exam h3
    {
        font-size: 2em;
        font-weight: 500;
        margin: 20px 0 30px;
    }
    #oral-exam p:first-of-type
    {
        font-size: 2em;
        letter-spacing: 0em;
    }
    #oral-exam p span
    {
        font-size: 2em;
    }
}

@media (max-width:991px)
{
    #set-appointment
    {
        padding-top: 15px;
    }
    #oral-exam
    {
        text-align: center;
        padding-bottom: 20px;
    }
    #oral-exam h3
    {
        font-size: 2em;
        font-weight: 500;
        margin: 10px 0 10px;
    }
    #oral-exam p:first-of-type
    {
        font-size: 2em;
        letter-spacing: 0em;
        margin: 0px;
    }
    #oral-exam p span
    {
        font-size: 1.5em;
    }
}

@media (max-width:320px)
{
    #oral-exam p span
    {
        line-height: 0;
    }
}

.navbar
{
    margin-bottom: 0;
}

@media (max-width:991px)
{
    .personal-care
    {
        margin: 0px;
    }
    #contact-us textarea
    {
        max-width: 991px;
    }
    #oral-price h3
    {
        margin-top: 0;
    }
}

#patient-special
{
    background-color: #ffffff;
}

.well
{
    background-color: #a94545;
    min-height: 20px;
    padding: 4px 4px 4px 20px;
    margin-bottom: 0px;
    border: 1px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #ffffff;
}

.jumbotron
{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: transparent;
    border-radius: 0px;
}

.container .jumbotron,
.container-fluid .jumbotron
{
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 768px)
{
    .jumbotron
    {
        padding-top: 48px;
        padding-bottom: 48px;
        background-color: transparent;
    }
    .container .jumbotron,
    .container-fluid .jumbotron
    {
        padding-left: 60px;
        padding-right: 60px;
    }
}

#home-cta p .btn
{
    color: #ED753D;
    margin-top: 20px;
    margin-left: 35px;
    background-color: #092579;
    border-color: transparent;
    letter-spacing: 1.5px;
}

#home-cta p .btn:hover
{
    box-shadow: 0px 0px 2px #000;
}

#home-cta ul li
{
    line-height: 32px;
}

#home-cta h1,
#home-cta ul
{
    color: #fff;
}

#home-cta
{
    background-image: url('../images/home-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* -- Home page -- */

.main
{
    background-color: #E5F3FF;
}

.main img
{
    /*margin-bottom: 20px;*/
}

.main article
{
    margin-bottom: 40px;
}

.main article h3
{
    color: #092579;
    font-family: dosis, lato, san-serif;
}

.main section
{
    padding: 20px;
}

.read-more
{
    margin-left: 5px;
    color: #ED753D;
}

#archive-content section h2
{
    color: #ED753D;
    font-size: 2em;
    text-transform: uppercase;
    margin: 20px 0;
}

@media (min-width:768px) and (max-width:1199px)
{
    .logo-wrap
    {
        padding-bottom: 20px;
    }
}

.main article h2
{
    font-family: dosis, lato, san-serif;
    color: #092579;
    font-size: 2.2em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0 20px;
}

/* -- search widget -- */

.search-form label span
{
    color: #092579;
    font-family: dosis, lato, sans-serif;
    margin-right: 10px;
}

.search-form label input {
    padding: 4px 6px;
    border: 1px solid #092579;
}

.search-form input[type="submit"]
{
    height: 32px;
    margin-left: 10px;
    color: #ED753D;
    background-color: #092579;
    border: 0px;
}

.search-form input[type="submit"]:hover
{
    color: #092579;
    background-color: #ED753D;

}

/* -- Category widget -- */

h3.widgettitle
{
    color: #ED753D;
}

li.cat-item
{
    line-height: 1.4em;
}

/* -- tag cloud -- */

.tagcloud a
{
    color: #ED753D;
    background-color: #092579;
    padding: 4px 8px;
    margin: 4px 4px 4px 0;
}

#search-content section h2 span
{
    color: #ED753D;
}

/* -- Single Posts -- */

#post-date
{
    font-family: dosis, lato, sans-serif;
    color: #092579;
}

#about-images
{
    margin-bottom: 40px;
}

#about-images small
{
    margin: 0 auto;
    color: #ED753D;
    text-align: center;
}

.office-title
{
    color: #ED753D;
    font-size: .8em;
}

.frontpage-content h2,
.about-text h2
{
    font-family: dosis, lato, san-serif;
    color: #092579;
    font-size: 2.2em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 15px 20px;
}

.about-text h3
{
    margin-top: 0px;
    font-family: dosis, lato, san-serif;
    color: #092579;
}

.ada-logo
{
    margin: 25px 0 0 20px;
}

@media (max-width:409px)
{
    .ada-logo
    {
        margin: 20px 0 0 0px;
    }
}

.gallery-item .gallery-details
{
    text-align: center;
    padding-top: 5px;
    background-color: transparent;
    border: 0px;
    border-top: 0;
    overflow: hidden;
}

.gallery-item .gallery-details h5
{
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    position: relative;
}

.filter li
{
    font-family: dosis, lato, sans-serif;
    color: #424652;
}

.content-block
{
    margin-top: 20px;
}

.filter
{
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    text-align: center;
}

.gallery-item .gallery-thumb .gallery-zoom, .gallery-item .gallery-thumb .gallery-link {
	width: 45px;
    height: 45px;
    text-align: center;
    background-color: #092579;
    display: none;
    line-height: 45px;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    font-size: 18px;
    color: #fff;
    display: block;
    border-radius: 2px;
}

.gallery-item .gallery-thumb .gallery-zoom:hover, .gallery-item .gallery-thumb .gallery-link:hover
{
    background-color: #ED753D;
    color: #ffffff;
}

.filter li a:hover, .filter li a:focus, .filter li a.active
{
	color: #ED753D;
    text-decoration: none;
}

.team-title
{
    margin-top: 10px;
}

#contact-page-content h3
{
    font-family: dosis, lato, sans-serif;
    color: #092579;
    margin: 26px 0;
}

#contact-page-content map iframe
{
    margin: 20px 0;
}

#caldera_form_1 form .form-group
{
    margin-bottom: 30px;
}

#caldera_form_1 form .form-group input,
#caldera_form_1 form .form-group select,
#caldera_form_1 form .form-group textarea
{
    border: 1px solid #092579;
    border-radius: 0px;
    font-size: 1.2em;
}

#caldera_form_1 form .form-group textarea
{
    /*max-width: 555px;*/
}

#caldera_form_1 form .form-group input,
#caldera_form_1 form .form-group select
{
    height: 40px;
}

.cf-toggle-switch .btn-success {
    color: #fff;
    background-color: #ED753D;
    border-color: #ED753D;
}

.caldera-grid .btn-success {
  color: #fff;
  background-color: #ED753D;
  border-color: #ED753D;
}

.caldera-grid .btn-success:hover,
.caldera-grid .btn-success:focus,
.caldera-grid .btn-success.focus,
.caldera-grid .btn-success:active,
.caldera-grid .btn-success.active,
.open>.dropdown-toggle.caldera-grid .btn-success {
    color: #fff;
    background-color: #ED753D;
    border-color: #ED753D;
}

.caldera-grid .radio-inline, .caldera-grid .checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
}

.text-muted
{
    padding: 10px 0;
    color: #777777;
}

.form-control:focus
{
    border-color: #ED753D;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

button,
html input[type="button"],
input[type="button"]
{
    background-color: #092579;
}

#caldera_form_1 form input[type="checkbox"] {
    margin: -8px 0px 10px -18px;
}

.btn-primary
{
    color: #fff;
    text-transform: uppercase;
    background-color: #092579;
    border-color: #2e6da4;
    width: 150px;
    border-radius: 0px;
}

.btn,
.btn-default
{
    color: #fff;
    text-transform: uppercase;
    background-color: #092579;
    border-color: #2e6da4;
    width: 150px;
    border-radius: 0px;
}

.contact-form-btn
{
    background-color: #092579;
    color: #ED753D !important;
    width: 150px;
    text-transform: uppercase;
}

.btn-primary:hover,
.contact-form-btn:hover
{
    color: #ED753D;
    background-color: #4B7092;
    border-color: #204d74;
}

#contact-address span
{
    color: #092579;
    font-weight: 900;
}

@media (max-width:991px)
{
    #caldera_form_1 form .form-group textarea
    {
        max-width: 555px;
        width: 100%;
    }
}

#post-16 h3 a {
   color: #ED753D;
   text-decoration: underline;
}
